<form action="/post-edit-apresentacao" method="post">
    <h1>Editar Apresentacao!</h1>
    <input type="hidden" name="id" value="{{apresentacao.id}}">
    <input type="hidden" name="ra_criador" value="{{apresentacao.ra_criador}}">
    Participante 1: 
    <input type="text" name="participante1" value="{{apresentacao.participante1}}"> <br>
    Participante 2: 
    <input type="text" name="participante2" value="{{apresentacao.participante2}}"> <br>
    Participante 3: 
    <input type="text" name="participante3" value="{{apresentacao.participante3}}"> <br>
    Participante 4: 
    <input type="text" name="participante4" value="{{apresentacao.participante4}}"> <br>
    Participante 5: 
    <input type="text" name="participante5" value="{{apresentacao.participante5}}"> <br>
    Participante 6: 
    <input type="text" name="participante6" value="{{apresentacao.participante6}}"> <br>
    Musica:
    <input type="text" name="musica" value="{{apresentacao.musica}}"> <br>
    <input type="submit" value="Editar">
</form>