<table border="1px">
    <tr>
        <td> Participante 1 </td>
        <td> Participante 2 </td>
        <td> Participante 3 </td>
        <td> Participante 4 </td>
        <td> Participante 5 </td>
        <td> Participante 6 </td>
        <td> Musica </td>
        <td> Votar </td>
    </tr>
    {{#each apresentacao}}
    <tr>
        <td>{{participante1}}</td>
        <td>{{participante2}}</td>
        <td>{{participante3}}</td>
        <td>{{participante4}}</td>
        <td>{{participante5}}</td>
        <td>{{participante6}}</td>
        <td>{{musica}}</td>
        <td><a href="/votarApresentacao/{{id}}">Votar</a></td>
    </tr>
    {{/each}}
</table>