<form action="/post-votar-apresentacao" method="post">
    <h1>Votar Apresentacao!</h1>
    <input type="hidden" name="id" value="{{apresentacao.id}}">
    Ra: 
    <p>Votar Nessa Apresentacão ? Vocẽ Pode Votar Diversas Vezes, mas Seu Voto não Poderá Ser Desfeito</p><br>
    <p>Participante 1: {{apresentacao.participante1}}</p>
    <p>Participante 2: {{apresentacao.participante2}}</p>
    <p>Participante 3: {{apresentacao.participante3}}</p>
    <p>Participante 4: {{apresentacao.participante4}}</p>
    <p>Participante 5: {{apresentacao.participante5}}</p>
    <p>Participante 6: {{apresentacao.participante6}}</p>
    <p>Musica: {{apresentacao.musica}}</p>
    <input type="submit" value="Votar">
    <a href="/menu"><input type="button" value="Cancelar"></a>
</form>